@use 'theme'

.link a
	// color: currentColor
	text-decoration: none

.navbar
	position: sticky
	top: 0
	left: 0
	width: 100%
	height: 50px
	background-color: #36454f
	margin-bottom: 2rem
	text-decoration: none
	border-bottom-left-radius: 5px
	border-bottom-right-radius: 5px
	z-index: 100
	margin-bottom: 100px

	ul,li
		list-style-type: none
		margin: 0
		padding: 0

.navbarNav
	display: flex
	align-items: center
	justify-content: space-around
	height: 100%

.tWrap
	position: fixed
	padding-left: 8px
	padding-top: 7px

.intro h2::before
	content: " "
	border: 3px outset theme.$primaryColorLight
	border-radius: 50%
	width: 2.5rem
	height: 2.5rem
	display: inline-block
	vertical-align: middle
	margin-right: 5px
	font-size: medium

.btn
	background-color: theme.$primaryColorDark
	border: 1px solid theme.$primaryColorDark
	border-radius: 10px
	padding: 4px
	transition: all 300ms

	h3
		margin: 5px
		color: whitesmoke

.btn:hover
	cursor: pointer
	transform: scale(1.05)
	// animation-fill-mode: cubic-bezier(.55, .09, .68, .53)

.me
	color: theme.$secondaryColor
	// z-index: 99
	margin: 0

.span
	color: theme.$tertiaryColor
	// z-index: 50
	padding: 0
