@use 'base'
@use 'theme'

.main
	display: flex
	// justify-content: center
	flex-direction: column
	align-items: center

.bartWrap
	width: 8rem
	pointer-events: none
	margin: 2rem


.content
	width: 90vw
	height: 10vh
	background-color: theme.$primaryColorDark
	border-radius: 5px