@use 'themes/moon'

.app
	display: flex
	min-height: 100vh
	flex-direction: column
	align-items: center
	background: moon.$Moonlight_Contrast
	color: moon.$Moonlight_Text

	h1
		text-align: center
		font-size: 3rem
		margin-bottom: 3rem


.content
	min-width: 30vw
	max-width: 50vw
	border-radius: 5px
	padding: 1rem
	margin-bottom: 5rem
	font-size: x-large

	a
		text-decoration: dashed underline

	@media (max-width: 1000px)
		min-width: 75vw

	@media (max-width: 500px)
		min-width: 95vw

