@use 'themes/moon'

.app
	height: 100vh
	background: moon.$Moonlight_Bg
	color: moon.$Moonlight_Text

	h1
		margin-top: 0
		text-align: center
		font-size: 3rem
		margin: 1rem


.feed
	margin: 5em auto 0
	display: flex
	flex-direction: column
	width: 50vw
	height: 20em
	padding: 0
	border-radius: 50%
	list-style: none
	text-align: center


.listItem
	height: 5rem
	transform: skew(-15deg)

	display: flex
	text-align: center
	align-items: center
	justify-content: center

	font-size: xx-large
	animation-fill-mode: ease-in-out
	transition: all 1000ms

	a
		transform: skew(15deg)

.listItem:hover
	background: moon.$Moonlight_SelectedBg
	cursor: pointer
