@use 'themes/moon'

.app
	background: moon.$Moonlight_Contrast
	min-height: 100vh
	max-height: fit-content
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between

.main
	display: flex
	flex-direction: row
	color: moon.$Moonlight_Text
	min-height: 50vh
	margin-bottom: 1rem

	@media (max-width: 1000px)
		flex-direction: column

.feed
	max-height: 50vh
	overflow: scroll
	display: grid

	@media (max-width: 1000px)
		overflow: hidden
		max-height: fit-content

.link a
	color: currentColor
	text-decoration: none

.bio, .card
	background-color: moon.$Moonlight_Bg_2
	border-radius: 10px
	padding: 1em
	box-shadow: rgba(3, 8, 20, 0.1) 0 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0 0.075rem 0.175rem
	transition: all 500ms
	margin: 1em

.bio
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	margin-bottom: 0

	a
		text-decoration: underline dashed

.card
	text-align: center
	min-width: 20rem
	padding: 0
	margin-bottom: 0
	height: 1fr
	animation: cardEntrance 400ms cubic-bezier(0.55, 0.09, 0.68, 0.53)
	animation-fill-mode: backwards

	h4
		opacity: 60%

.card:hover
	box-shadow: rgba(2, 8, 20, 0.1) 0 0.35rem 1.75rem, rgba(2, 8, 20, 0.08) 0 0.175rem 0.5rem
	transform: translateY(-3px) scale(1.05)
	animation-fill-mode: cubic-bezier(.55, .09, .68, .53)

@keyframes cardEntrance
	from
		opacity: 0
		transform: scale(0.3)
	to
		opacity: 1
		transform: scale(1)

@for $i from 1 through 3
	.card:nth-child(#{$i})
		animation-delay: calc((#{$i} * 100ms) - 100ms)
