.main {
    display: grid;
      font-family: sans-serif;
      width: 100%;
      // max-width: 100vw;
      height: fit-content;
      // max-height: fit-content;
      margin: 0;
      background: #131313;
      background-image: linear-gradient(#36454f 50px, black);
      color: whitesmoke;
      // overflow-x: hidden;
      // display:block;
      // align-items:center;
    }
    
    .link a {
      color: currentColor;
      text-decoration: none;
    }
    
    /* Navigation/Menu bar */
    
    .navbar {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background-color: #36454f;
      margin-bottom: 2rem;
      text-decoration: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: 100;
      margin-bottom: 100px;
    
      ul,
      li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
    }
    
    .navbarNav {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
    }
    
    .intro h2::before {
      content: " ";
      border: 3px inset #dbb66f;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      font-size: medium;
      position: relative;
      bottom: 3px;
    }
    
    .intro {
      position: relative;
      bottom: 32px;
    }
    
    .thumbnail {
      width: 40px;
      z-index: 101;
      position: sticky;
      margin-top: 25px;
      margin-left: 2px;
      position: relative;
      top: 63px;
      left: 2px;
    }
    
    /* Dropdown menu shit */
    
    .dropdown {
      position: absolute;
      width: 100px;
      opacity: 0;
      z-index: 2;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 3rem;
    
      padding: 0.5rem;
    
      box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
      transform: translateX(-40%);
    
      transition: opacity 0.15s ease-out;
    
      background-color: #232d33;
      pointer-events: none;
    }
    
    .hasDropdown:focus-within .dropdown {
      opacity: 1;
      pointer-events: all;
    
      .dropdownItem a {
        pointer-events: all;
      }
    }
    
    .dropdownItem a {
      width: 100%;
      height: 100%;
      padding-left: 10px;
      font-weight: normal;
      pointer-events: none;
    }
    
    // .dropdownItem:hover {
    //     filter: brightness(1);
    //     background:#2b373f;
    // }
    
    .tooltip .tooltiptext {
      visibility: hidden;
      width: max-content;
      background-color: darkgoldenrod;
      color: aliceblue;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
    
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      top: -500px;
      left: 10%;
    }
    
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
    
    // Introlduction Box
    .shiny {
      width: min-content;
      height: min-content;
      margin-top: 50px;
      margin-bottom: 7.5rem;
      margin-left: auto;
      margin-right: auto;
      border: 8px outset cornflowerblue;
      font-size: 3rem;
      font-weight: bold;
    
      animation: boxy 10s infinite;
    
      ul,
      li {
        color: cornflowerblue;
        padding: 20px;
        // animation: boxy 11s infinite;
        animation-duration: 9s;
        list-style-type: none;
      }
    }
    
  
  
  
  
    .footer {
      display: flexbox;
      flex: 1;
      padding: 2rem 0;
      // border-top: 1px solid whitesmoke;
      justify-content: center;
      align-items: center;
    
      a,
      h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
      }
    }
  
  
    .grid {
      justify-self: center;
      min-height: 50vh;
      max-height: fit-content;
      width: 60vw;
      margin:1em;
      display: grid; 
      gap: 1em 2em; 
  
      grid-template-areas: 
      'card1 card1 card4 card4'
      'card2 card2 card4 card4'
      'card3 card3 card4 card4';
  
      @media (max-width:800px) {
        grid-template-areas:
        'card4'
        'card1'
        'card2'
        'card3';
      }
    }
  
    @for $i from 0 through 4 {
      .card:nth-child(#{$i}) {
        grid-area: card#{$i};
        border-radius: 5px;
        background-color:#232d33;
        padding: 0.5em;
      }
    }