@use 'themes/sepia'

.main
	background: sepia.$Book_Bg
	min-height: 100vh
	max-height: fit-content
	color: sepia.$Book_Txt

	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif
	font-size: medium

	max-width: 100vw
	margin: 0

	display: flex
	flex-direction: column
	align-items: center


.bannerWrapper
	margin: 2rem
	transform: skew(-20deg)
	// background: #212A2F
	background: sepia.$Book_Bg_2
	min-width: fit-content
	max-width: 50vw
	height: fit-content


.banner
	padding: 1em
	padding-bottom: 1em
	text-align: center
	transform: skew(20deg)


// Styling for the cards

.collapsibleWrapper
	border-radius: 0.2em
	padding: 0.75em
	margin: 1em
	margin-left: auto
	margin-right: auto

	display: flex
	box-sizing: content-box
	text-align: center
	align-items: center

	height: fit-content
	width: 40vw

	// background-color: #212A2F
	background: sepia.$Book_Bg_2


.collapsibleTitle
	cursor: pointer
	width: 40vw
	font-size: large
	font-weight: semibold


// .collapsibleText
//     // margin: 0.25em
//

.float
	height: fit-content
	width: fit-content

	display: inline
	text-align: center

	float: left

	position: sticky

	background: #29343b
	padding: 0.25rem


.littleInfo
	font-size: small
	text-align: end

	p
		opacity: 0.8
		margin-bottom: 0px

