@use 'themes/moon'

.app
	background: moon.$Moonlight_Contrast
	// height: calc(100vh - 3rem)
	min-height: 100vh
	max-height: fit-content
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between
	margin: 0
	padding: 0

.main
	display: grid
	grid-template-rows: 1fr 8fr
	// flex-direction: row
	color: moon.$Moonlight_Text
	background-color: moon.$Moonlight_Bg_2
	border-radius: 10px
	min-height: 75vh
	width: 75vw
	margin-bottom: 1rem

	@media (max-width: 1000px)
		flex-direction: column
		width: 95vw

.tabrow
	// height: 2rem
	display: inline-grid
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
	text-align: center
	align-items: center
	font-size: larger
	border-bottom: 2px solid moon.$Moonlight_Disabled

.tab:nth-child(1)
	border-top-left-radius: 10px

.tab:nth-child(2)
	border-top-right-radius: 10px

.tab
	height: 100%
	display: flex
	align-items: center
	justify-content: center

	a
		width: 100%
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		border-radius: inherit

	a:hover, .active
		background-color: moon.$Moonlight_SelectedBg

.container
	padding: 0
	text-align: center

.form
	display: flex
	flex-direction: column
	align-items: center

	button
		width: 2.5rem
		background: moon.$Moonlight_SelectedBg
		color: moon.$Moonlight_Text
		font-size: larger
		border-radius: 5px
		border: none !important
		margin: .5rem

.top
	display: flex
	flex-direction: row
	margin-top: .5rem
	align-content: center

	.select, input
		background: moon.$Moonlight_SelectedBg
		color: moon.$Moonlight_Text
		border-radius: 5px
		border: none !important
		height: 1.5rem

	.select
		margin-right: 5px

.textbox
	height: 60vh
	width: 95%
	border: none !important
	background: moon.$Moonlight_SelectedBg
	color: moon.$Moonlight_Text

	margin-top: .5rem
	border-radius: 5px
	resize: none

.cards
	list-style: none
	display: grid
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
	font-size: larger
	padding: 0

.card
	background: moon.$Moonlight_SelectedBg
	margin: 10px
	padding: 5px
	border-radius: 5px

